@charset "UTF-8" ;
body {
        font-family: "sans-serif","alba","Chick";
}

forture_wrap {
    width: 50%;
}

h1 {
         font-size: 48px;
         background-color: #136FFF;
         margin: 5px 0px;
         padding: 10px;
         color:	#3CB371;
         text-align: center;
         text-shadow: 3px 3px 0 #9db;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
        font-weight: bold;
 }

 span {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 20px;
 }

  .lackyCharacter {
        background-color: #136FFF;
        color: #3CB371;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        width: 700px;
        margin: 50px auto;
        padding: 10px;
        border-radius: 10px;
        text-shadow: 1px 1px 0 #9db;
        -webkit-text-stroke: 0.5px #fff;
        text-stroke: 1px #fff;
        font-weight: bold;
 }



 .home_button {
    padding-top: 50px;
    text-align: center;
 }

 div.image {
        width: 800px;
        height: 300px;
        margin: 2px auto;
        text-align: center;
 }
 input {
       background-color: #3CB371;
       border-radius: 5px;
       border: 1px solid skyblue;
       margin: 10px 5px;
       padding: 5px 15px;
       color: #fff;
 }
 input:hover {
       background-color: skyblue;
 }