html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    margin: 0;
}

.df {
    display: flex;
}

.between {
    justify-content: space-between;
}

.wrapper {
    max-width: 980px;
    background-color: #9cc7e4;
    margin: 0 auto;

}

.wide_wrapper {
    max-width: 980px;
    background-color: #CCC;
    margin: 0 auto;
}

.topheader {
    width: 100vw;
    background-color: #CCC;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;

}

.topheader span {
    width: 980px;
    margin: 0 auto;
}

.topheader button:nth-child(2) {
    margin-left: 10px;
}

.mainheader {
    width: 100vw;
    /*スライダーを使わない場合は、下のイメージを使ってください。*/
    /*background-image: url(../images/dqxtitle.png);*/
    background-repeat: no-repeat;
    background-color: #999;
    background-position: center;
    background-size: contain;
    height: 350px;
    line-height: 350px;
    text-align: center;
    /*line-height: 15;*/
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-top: 0;
}

.topmenu {
    width: 100vw;
    background-color: #333;
    text-align: left;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-top: 0;
    padding: 0px 5px 0px 5px;
}

.top_login {
    margin-right: 20px;
}



ul {
    margin: 0;
}

ul.nav {
    /* padding: 20px; */
    width: 980px;
    margin: 0 auto;
}

ul.nav li {
    display: inline;
    margin: 0;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

ul.nav li a {
    color: gray;
    text-decoration: none;
}

ul.nav li:hover {
    background-color: #FFF;
}


.topsearth {
    background-color: #fff;
    text-align: center;
    padding: 20px 40px 20px 40px;

}

h2.top {
    padding-bottom: 700px;
    font-size: 40px;
    color: #000;
    margin: 0;
}

.container {
    width: 980;
    padding: 20px 10px 20px 20px;
    text-align: left;

}

.center_wrap {
    text-align: center;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article {
    margin: 0;
    padding: 0;
}

.article h4 {
    margin: 0;
    padding: 0;
}

.article span {
    margin: 0;
    padding: 0;
}

.toppostdate {
    margin: 0;
    padding: 0;
    float: right;
}

.toppostcontents {
    margin: 0;
    padding: 0;
}

.toppostitem {
    background-color: #fff;
    margin: 40px 40px 40px 40px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 10px 10px;
}

.toppostitem p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.toppostbutton {
    text-align: right;
    margin-left: 10px;
}

.toppostview {
    color: #FF8C00;
    margin-left: 10px;
    margin-bottom: 0px;
}

.toppostview span {
    font-weight: 600;
}

/*Footer*/
footer {
    width: 100vw;
    background-color: #CCC;
    text-align: center;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    margin-top: 0;
}

.footer_logo {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    padding: 30px 20px 30px 20px;
}

.copyright {
    color: #FFF;
    background-color: #000;
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
    padding: 20px 10px 20px 20px;
    text-align: center;
    clear: both;
}

.copyright a {
    color: #EFEFEF;
    text-decoration: none;
}

.copyright a:hover {
    color: #FFFF00;
    text-decoration: none;
}

.copyright a:visited {
    color: #EFEFEF;
    text-decoration: none;
}


.wrap {
    display: flex;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

.info_wrap {
    padding: 50px 30px 50px 30px;
}

.col {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 4em 1em;
}

.box400 {
    width: 400px;
}

.box200 {
    width: 200px;
}

.tdnone {
    text-decoration: none;
}

.footer_link {
    padding: 30px 30px 30px 30px;
}

.footer_logo {
    text-shadow: 2px 2px 4px gray;
}

ul.footer_nav {
    /* float: right; */
    margin: 0px 40px 0px 40px;
}

ul.footer_nav li {
    list-style: none;
    text-align: left;
}

ul.footer_nav li a {
    color: #333;
    list-style: none;
    text-align: left;
    text-decoration: none;
}

ul.footer_nav li a:visited {
    color: #666;
}

ul.footer_nav li a:hover {
    color: #FFF;
}

/*GlobalNavi*/
#g_navi ul {
    display: flex;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px;
}

#g_navi ul li {
    width: calc(100%/5);
}

#g_navi ul li a {
    display: block;
    padding: 17px 0%;
    width: 90%;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#g_navi ul li a:hover {
    background-color: #666;
}

.topheader ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}

/*Home*/

.new_items h2 {
    color: red;
    margin: 0px auto;
    padding-top: 30px;
    padding-left: 100px;
    text-shadow: 2px 2px 4px gray;
    background-image: url(../images/slimedqx.webp);
    background-repeat: no-repeat;
    background-position: 33px 14px;
    background-size: 50px;
}

.popularity h2 {
    color: yellow;
    margin: 0px auto;
    padding-top: 30px;
    padding-left: 100px;
    text-shadow: 2px 2px 4px gray;
    background-image: url(../images/slimedqx.webp);
    background-repeat: no-repeat;
    background-position: 33px 14px;
    background-size: 50px;
}

input#search {
    margin-right: 20px;
}



/*Blogページ*/
.blog h2 {
    color: #333;
    margin: 0px auto;
    padding-top: 30px;
    /* padding-left: 30px; */
    text-shadow: 2px 2px 4px gray;
    /* background-image: url(../images/slime1.jpg); */
    background-repeat: no-repeat;
    background-position: 0 5px;
}

.blog_update_btn {
    text-align: right;
    margin-right: 40px;
}

.blog_update_btn button {
    margin-right: 5px;
}

.good_button {
    /*background-image: url(/images/good.png);*/
    background-position: 0% 50%;
    padding-top: 0px;
    padding-left: 100px;
    padding-bottom: 50px;
    background-size: 30px;
    background-repeat: no-repeat;
    vertical-align: baseline;
}

.good_button span {
    padding: 0px 5px 0px 5px;
    font-weight: 600;
    color: red;
}



.blog ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.blog p {
    padding-top: 80px;
}

.author {
    margin-right: 50px;
    font-weight: 800;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}

.upload_imege {
    padding: 50px 30px 50px 30px;
}


/*サイドランキングボックス*/
.ranking_box {
    padding: 10px 10px 10px 10px;
    /* position: absolute; */
    /* position: relative; */
    width: 185px;
    position: fixed;
    background-color: #FFF;
    border-radius: 10px;
    top: 70px;
    right: 20px;
}

.right_prbox {
    padding: 10px 10px 10px 10px;
    width: 185px;
    position: fixed;
    background-color: yellow;
    border-radius: 10px;
    top: 300px;
    right: 20px;
}

.ranking1 {
    font-weight: bold;
    background-image: url(/images/crown.png);
    background-size: 20px;
    background-repeat: no-repeat;
    /* background-position: 0 5px; */
    padding-left: 20px;
    vertical-align: middle;
}

.ranking2 {
    font-weight: bold;
    background-image: url(/images/crown.png);
    background-size: 20px;
    background-repeat: no-repeat;
    /* background-position: 0 5px; */
    padding-left: 20px;
    vertical-align: middle;
}

.ranking3 {
    font-weight: bold;
    background-image: url(/images/crown.png);
    background-size: 20px;
    background-repeat: no-repeat;
    /* background-position: 0 5px; */
    padding-left: 20px;
    vertical-align: middle;
}

/*MyPage*/
.mypage_header {
    background-color: #4026d3;
    color: #FFF;
    width: 150px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 0px 30px 30px 0px;
    text-shadow: 1px 2px 3px #808080;
    margin-left: -30px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

.info_header {
    background-color: green;
    color: #FFF;
    width: 150px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 0px 30px 30px 0px;
    text-shadow: 1px 2px 3px #808080;
    margin-left: -30px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

.post_header {
    background-color: #139c25;
    color: #FFF;
    /* width: 400px; */
    background-position: right;
    background-size: 400px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 30px 30px 30px 30px;
    text-shadow: 1px 2px 3px #808080;
    margin-right: 0px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

.top_post_comment {
    background-color: #EEE;
    margin: 40px 40px 40px 80px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 10px 10px;
    /* display: flex; */
    justify-content: left;
    position: relative;

}

.comment_list h2 {
    color: yellow;
    margin: 0px auto;
    padding-top: 30px;
    padding-left: 100px;
    text-shadow: 2px 2px 4px gray;
    background-image: url(../images/slimedqx.webp);
    background-repeat: no-repeat;
    background-position: 33px 14px;
    background-size: 50px;
}

.top_post_comment:before {
    position: absolute;
    margin-left: 50px;
    top: -15px;
    width: 30px;
    height: 15px;
    background-color: #EEE;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    content: '';
}

.comment_list h4 {
    margin-left: 40px;
    margin-right: 40px;
    padding: 5px 50px 5px 50px;
    background-color: #FFF;
    border-radius: 10px 10px 10px 10px;
}

.comment_list .toppostid {
    font-weight: 600;
    clear: both;
}


/*通知*/
.notice_box {
    padding: 10px 10px 10px 10px;
    /* position: absolute; */
    /* position: relative; */
    width: 185px;
    position: fixed;
    background-color: yellow;
    border-radius: 0px 0px 10px 10px;
    top: 0px;
    right: 20px;
}

.notice {
    font-weight: 600;
    color: red;
    text-align: right;
}

.mypage_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.w3columns {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    vertical-align: middle;
}

.user_avatar {
    text-align: center;
}

.user_avatar img {
    text-align: center;
    width: 200px;
}

.user_status1 {
    text-align: left;
    width: 300px;
    display: block;
}

.user_status1 ul {
    list-style-type: none;
}

.user_status2 {
    text-align: left;
    width: 300px;
    display: block;
}

.user_status2 ul {
    list-style-type: none;
}

.mypage_username {
    margin-top: 20px;
    padding-top: 20px;
    font-weight: 600;
}

/* .triangle {

} */

/*blog投稿ページ*/

.postblog_header {
    background-color: #139c25;
    color: #FFF;
    width: 150px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 0px 30px 30px 0px;
    text-shadow: 1px 2px 3px #808080;
    margin-left: -30px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

input[type="text"] {
    padding: 5px;
    max-width: 800x;
}

.input_form {
    background-color: #fff;
    text-align: left;
    margin: 40px 40px 40px 40px;
    padding: 40px 30px 40px 30px;
    border-radius: 10px 10px 10px 10px;
}

.input_form textarea {
    width: 800px;
}

.post_blog {
    background-color: #139c25;
    color: #FFF;
    /* width: 400px; */
    background-position: right;
    background-size: 400px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 30px 30px 30px 30px;
    text-shadow: 1px 2px 3px #808080;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

.post_blog a {
    text-decoration: none;
}

.post_blog:hover {
    background-color: yellow;
}

.post_blog:active {
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    transform: translate(0, 2px);
    border-bottom: none;
}

.delete_blog {
    background-color: #F8A900;
    color: #FFF;
    /* width: 400px; */
    background-position: right;
    background-size: 400px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 30px 30px 30px 30px;
    text-shadow: 1px 2px 3px #808080;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

.delete_blog a {
    text-decoration: none;
}

.delete_blog:hover {
    background-color: #FF7F7F;
}

.delete_blog:active {
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    transform: translate(0, 2px);
    border-bottom: none;
}

.update_blog {
    background-color: #7290E4;
    color: #FFF;
    /* width: 400px; */
    background-position: right;
    background-size: 400px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 30px 30px 30px 30px;
    text-shadow: 1px 2px 3px #808080;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 50px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

.update_blog a {
    text-decoration: none;
}

.update_blog:hover {
    background-color: #6E71D7;
}

.update_blog:active {
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    transform: translate(0, 2px);
    border-bottom: none;
}

.write_blog {
    background-color: #139c25;
    color: #FFF;
    /* width: 400px; */
    background-position: right;
    background-size: 400px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 0px 10px;
    border-radius: 30px 30px 30px 30px;
    text-shadow: 1px 2px 3px #808080;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 30px;
    box-shadow: 1px 2px 3px #808080;
}

.write_blog a {
    text-decoration: none;
}

.write_blog:hover {
    background-color: #4682b4;
}

.write_blog:active {
    -webkit-transform: translate(0, 2px);
    -moz-transform: translate(0, 2px);
    transform: translate(0, 2px);
    border-bottom: none;
}

.form_text {
    padding: 10px;
    background-color: #F7F7F7;
}

.form_textarea {
    padding: 10px;
    background-color: #F7F7F7;
}

/*モーダルウィンドウ*/
#postblogDialog {
    display: none;
    background-color: #FFF;
    /* border: 2px double; */
    border: 1px solid;
    width: 500px;
    position: fixed;
    padding: 20px 50px 20px 50px;
    top: 120px;
    border-radius: 10px;
    /* z-index: 9999; */
}

.dialog_wrap {
    display: flex;
    /*コレ*/
    justify-content: space-between;
}

.dialog_header {
    font-weight: 600;
    font-size: 1.3em;
}

.dialog_image img {
    max-width: 80px;
    max-height: 150px;
}

button a {
    text-decoration: none;
}

button a:hover {
    color: red;
}

/*上に戻るボタン*/

.up_top {
    color: #FFF;
    width: 45px;
    height: 45px;
    line-height: 45px;
    padding: 5px 4px 3px 4px;
    vertical-align: middle;
    text-align: center;
    background-color: #3584bb;
    border-radius: 10px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    display: inline-block;
    border: 3px solid #FFF;
}

.up_top a {
    text-decoration: none;
    color: #FFF;

}

/*お問い合わせフォーム*/
.contact_form h2 {
    color: green;
    margin: 0px auto;
    padding-top: 30px;
    padding-left: 100px;
    text-shadow: 2px 2px 4px gray;
    background-image: url(../images/slimedqx.webp);
    background-repeat: no-repeat;
    background-position: 33px 14px;
    background-size: 50px;
}

.input_text {
    background-color: #fff;
    text-align: left;
    margin: 40px 40px 40px 40px;
    padding: 40px 30px 40px 30px;
    border-radius: 10px 10px 10px 10px;
}

.form_wrap {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.form_item>input[type="text"] {
    padding: 5px;
    width: 300;
}

.form_item>input[type="email"] {
    padding: 5px;
    width: 300px;
}

.form_item>textarea {
    padding: 5px;
    width: 500px;
}

.input_form p {
    font-weight: 600;
}

/*ハンバーガーメニュー*/
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
    border-radius: 5px;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}


#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}


#menu-btn-check {
    display: none;
}


.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #3584bb;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;
    /*アニメーション設定*/
}


#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}



/*ページング*/
.paging {
    text-align: center;
    margin: 15px 0px;
    font-size: 1rem;
    list-style-type: none
}

.paging li {
    display: inline-block;
}

.paging li a:link {
    display: inline-block;
    color: #666;
}

.paging li a:visited {
    display: inline-block;
    color: #666;
}

.paging .current,
.paging a {
    padding: 0px 3px;
}

.paging a {
    display: block;
    background: #cce2f0;
}

.paging li.frontpg a {
    display: inline-block;
    text-decoration: none;
    border-radius: 15px 0px 0px 15px;
}

.paging li.backpg a {
    display: inline-block;
    text-decoration: none;
    border-radius: 0px 15px 15px 0px;
}

/*トップスライドショー*/
.slick__bg {
    /*padding-bottom: 7.5%;*/
    padding-bottom: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slick__bg01 {
    background-image: url(../images/dqxtitle.png);
    background-size: 500px 350px;
    background-position: center;

}

.slick__bg02 {
    background-image: url(../images/slideimage2.jpg);
    background-size: 500px 350px;
    background-position: center;
}

.slick__bg03 {
    background-image: url(../images/dqxtitle.png);
    background-size: 500px 350px;
    background-position: center;
}

.slick__bg04 {
    background-image: url(../images/dqxtitle.png);
    background-size: 500px 350px;
    background-position: center;
}

/*ul.slider > li:not(:first-child) {
    display: none;
}*/

slick>slock__bg01 {
    display: none;
}

/*スマホ対応*/
@media screen and (max-width:480px) {
    .topmenu {
        display: none;

        .body {
            max-width: 550px;
        }

        .form_item>textarea {
            width: 300px;
        }

        .input_form textarea {
            width: 300px;
        }

        .container {
            width: 400px;

        }
        .df {
        display:block;
        }

        .mypage_info {
                grid-template-columns: 1fr;
        }
}

@media screen and (max-width: 768px) {
    .topmenu {
        display: none;
    }

    .menu-btn {}

    .form_item>textarea {
        width: 400px;
    }

    .input_form textarea {
        width: 400px;
    }

    .container {
        width: 600px;
    }

    .mypage_info {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1024px) {
    .menu-btn {
        display: none;
    }
}