<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通headで置き換える タイトルは()内に第一引数-->
<head th:replace="common :: meta_header('ゲーム攻略記事/TOP',~{::link},~{::script})">
  <!-- (2)このページ固有で読み込むCSS/JS -->
  <!--    <link rel="stylesheet" th:href="@{/css/mainstyle.css}" />-->
  <!--    <script></script>-->
</head>
<body>
<div class="wrapper">

  <!--↓共通headerの呼び出し-->
  <div th:replace="common :: header"></div>

  <!--↓MainContents Start-->
<div class="container">
  <div class="blog">
    <ul>
      <li><h4><p th:text="${blog.title}"></p></h4></li>
      <li class="author">@Matsushiro</li>
    </ul>
    <!--        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
    <!--          削除-->
    <!--        </button>      </div>-->

    <hr>
    <article class="toppostitem">
      <!-- <span class="toppostid">@Matsushiro</span> -->
      <div class="toppostdate">2023年09月04日</div>
      <div class="toppostcontents">
        <p th:text="${blog.text}"></p>

        <div class="upload_imege">
          <img src="/images/test.png" width="100%">
        </div>
        <!--          <form action="/good/{id}">-->
        <div class="good_button"><i class="fa-regular fa-thumbs-up fa-lg"></i><span th:text="${blog.goodCount}"></span><span>いいねを押そう！</span><button><a th:href="@{/good/{id}(id=${BlogId})}">いいね！</a></button></div>
        <!--          </form>-->
      </div>
      <div class="center_wrap">
        <div class="box400">
      <div class="delete_blog" id="deleteblog"
           onclick="
        let row = this.parentElement.parentElement;
        var dialog = getElementById('postblogDialog')
        dialog.style.left =((window.innerWidth -500) / 2) + 'px';
        dialog.style.display = 'block';">記事の削除</div>
      </div>
        <div class="box200">
        <!--↓記事の更新ボタン-->
        <div class="update_blog"><span th:text="${blog.updatedDate}"></span><div><a th:href="@{/update/{id}(id=${blog.id})}">更新</a></div></div>
      </div>
      </div>
    </article>
  </div>
  <!-- デモ　start -->
  <div id="postblogDialog">
    <div class="dialog_wrap">
      <div class="dialog_box">
        <p class="dialog_header">記事を削除していいのね？</p>
        <button type="submit" onClick="this.form.submit();"><a th:href="@{'/blog/delete/' + ${blog.id}}" >はい</a></button>
        <button type="reset"
                onclick="getElementById('postblogDialog').style.display='none';">いいえ</button>
      </div>
      <div class="dialog_box">
        <div class="dialog_image">
          <img src="/images/anlucia.jpg">
        </div>
      </div>
    </div>
  </div>
  <!-- MainContents　end -->

  <div class="ranking_box">
    <div class="ranking1">ランキング1位</div>
    最後のボスを倒す攻略法
    <div class="ranking2">ランキング２位</div>
    妖精を仲間にする方法
    <div class="ranking3">ランキング３位</div>
    裏技・経験値の稼ぎ方
  </div>
  <div class="right_prbox">
    ここにはPRが入ります。
    ここにはPRが入ります。
    ここにはPRが入ります。
    ここにはPRが入ります。
    ここにはPRが入ります。
    ここにはPRが入ります。
    ここにはPRが入ります。
    ここにはPRが入ります。
    ここにはPRが入ります。
  </div>
</div>
</div>

<!-- ↓上に戻るボタン -->
<div class="up_top"><a href="#"><i class="fa-solid fa-arrow-up-from-bracket fa-stack-2x"></i></a></div>
</div>

</div>

<!--↓共通headの呼び出し-->
<div th:replace="common :: footer"></div>
</body>
</html>
