<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通headで置き換える タイトルは()内に第一引数-->
<head th:replace="common :: meta_header('ゲーム攻略記事/TOP',~{::link},~{::script})">
    <!-- (2)このページ固有で読み込むCSS/JS -->
<!--    <link rel="stylesheet" th:href="@{/css/mainstyle.css}" />-->
<!--    <script></script>-->
</head>

<body>
    <div class="wrapper">

        <!--↓共通headerの呼び出し-->
        <div th:replace="common :: header"></div>

        <div class="container">
            <div class="new_items">
                <!-- ↓新着記事の記載部分 -->
                <h2>What's New</h2>
                <hr>
                <article class="toppostitem" th:each="blogs: ${blogsDate}">
                    <span class="toppostid">@Matsushiro</span>
                    <div class="toppostdate"><p th:text="${#dates.format(blogs.createdDate, 'yyyy/MM/dd')}"></p></div>
                    <h4 class="topposttittle"><p th:text="${blogs.title}"></p></h4>
                    <div class="toppostcontents"><p th:text="${blogs.text}"></p></div>
                    <div class="between df">
                    <div class="toppostview">閲覧回数 <span th:text="${blogs.viewCount}"></span></div>
                    <div class="toppostbutton"><button><a th:href="@{'/blog/' + ${blogs.id}}" >この記事を読む</a></button></div>
                    </div>
                </article>

             <!-- ↓新着記事の記載部分 -->
            <div class="popularity">
                <h2>人気の記事</h2>
                <hr>
                <article class="toppostitem" th:each="blogs: ${blogs}">
                    <span class="toppostid">@Matsushiro</span>
                    <div class="toppostdate"><p th:text="${#dates.format(blogs.createdDate, 'yyyy/MM/dd')}"></p></div>
                    <h4 class="topposttittle"><p th:text="${blogs.title}"></p></h4>
                    <div class="toppostcontents"><p th:text="${blogs.text}"></p></div>
                    <div class="between df">
                    <div class="toppostview">閲覧回数 <span th:text="${blogs.viewCount}"></span></div>
                    <div class="toppostbutton"><button><a th:href="@{'/blog/' + ${blogs.id}}" >この記事を読む</a></button></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!--↓の</div>は必要です。--->
    </div>
    <div class="up_top"><a href="#"><i class="fa-solid fa-arrow-up-from-bracket fa-stack-2x"></i></a></div>

    <!--共通headの呼び出し-->
    <div th:replace="common :: footer"></div>
</body>
</html>