<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ゲーム攻略記事</title>
    <link th:href="@{/mainstyle.css}" rel="stylesheet">
    <link th:href="@{/sanitize.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <head>
        <!-- <div class="topheader">
            <div class="wide_wrapper">
                <ul>
                    <li>これは、ゲーム攻略記事サイトです。〇〇〇〇〇〇〇〇</li>
                    <li class="top_login"><button>ログイン</button><button>新規登録</button></li>
                </ul>
            </div>
        </div>1
        <div class="mainheader">
            <h2 class="top">DRAGONQUEST 攻略</h2>
        </div> -->
        <div class="topmenu">
            <nav id="g_navi">
                <ul>
                    <li><a href="/index">ホーム</a></li>
                    <li><a href="/concept">コンセプト</a></li>
                    <li><a href="/menu">メニュー</a></li>
                    <li><a href="/access">アクセス</a></li>
                    <li><a href="/contact">お問い合わせ</a></li>
                    <li><a href="/fortune">今日の運勢</a></li>
                </ul>
            </nav>
        </div>
    </head>
    <div class="topsearth">
        <form action="/search">
            <label>新着順</label><input type="radio" name="order" value="新着順" checked>
            <label>人気順</label><input type="radio" name="order" value="人気順">
            <input type="text" id="search" name="search" size="20" /><button>検索</button>
            <label>AND検索</label><input type="radio" name="keyword" value="AND" checked>
            <label>OR検索</label><input type="radio" name="keyword" value="OR">
            <label>NOT検索</label><input type="radio" name="keyword" value="NOT">
            <label>USER絞込み検索</label><input type="radio" name="terget" value="USER" checked>
        </form>
    </div>
    <div class="container">
        <div class="mypage_header">MYPAGE</div>
        <!-- <div class="post_header">新しい記事を書く</div> -->
        <div class="new_items">
            <div class="mypage_info">
            </div>
            <div class="center_wrap">
                <!-- <div class="box400">
                    <div class="post_header">新しい記事を書く</div>
                </div> -->
            </div>
            <h2>記事の投稿</h2>
            <hr>
            <form th:action="@{blog/add}" th:object="${blogRequest}">
                <div class="input_form">
                    <h3>タイトルを記入※</h3>
                    <input type="text" id="blog_tittle" name="blog_title" size="50"
                           placeholder="ここにタイトルを書きます。50文字まで" th:field="*{title}">
                </div>
                <div class="input_form">
                    <h3>記事を記入※</h3>
                    <textarea id="blog_contents" name="blog_contents" rows="50" cols="100"
                              placeholder="ここに記事を書きます。"th:field="*{contents}"></textarea>
                    <div class="put_image">
                        <p><input type="file" name="upfile" /></p>
                        <p><input type="submit" value="アップロード" /></p>
                    </div>
                    <div class="center_wrap">
                        <div class="box400">
                            <!-- デモ　start -->
                            <div id="postblogDialog">
                                <div class="dialog_wrap">
                                    <div class="dialog_box">
                                        <p class="dialog_header">投稿してもよろしいですか？</p>
                                        <button type="submit" onClick="this.form.submit();</p>">はい</button>
                                        <button type="reset"
                                                onclick="getElementById('postblogDialog').style.display='none';">いいえ</button>
                                    </div>
                                    <div class="dialog_box">
                                        <div class="dialog_image">
                                            <img src="/images/estela.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post_blog" id="postblog"
                                 onclick="
        let row = this.parentElement.parentElement;
        var dialog = getElementById('postblogDialog')
        dialog.style.left =((window.innerWidth -500) / 2) + 'px';
        dialog.style.display = 'block';">記事を投稿</div>
                            <!-- デモ　end -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="notice_box">
            <div class="notice">通知（１）</div>
        </div>
    </div>
</div>
<footer>
    <div class="wide_wrapper">
        <div class="footer_logo">Matsushiro</div>
        <div class="footer_link">
            <div class="wrap">
                <div class="cal">
                    <ul class="footer_nav">
                        <li><a href="" target="_blank">お知らせ</a></li>
                        <li><a href="" target="_blank">企業情報</a></li>
                        <li><a href="" target="_blank">プライバシーポリシー</a></li>
                        <li><a href="" target="_blank">サイトご利用にあたって</a></li>
                    </ul>
                </div>
                <div class="cal">
                    <ul class="footer_nav">
                        <li><a href="" target="_blank">ご意見・ご要望</a></li>
                        <li><a href="" target="_blank">サイトマップ</a></li>
                        <li><a href="" target="_blank">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright © Matsushiro Corporation All Rights Reserved.</div>
    </div>
</footer>
</body>