<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通headで置き換える タイトルは()内に第一引数-->

<head th:replace="common :: meta_header('ゲーム攻略記事/検索',~{::link},~{::script})">
    <!-- (2)このページ固有で読み込むCSS/JS -->
    <!--    <link rel="stylesheet" th:href="@{/css/mainstyle.css}" />-->
    <!--    <script></script>-->
</head>

<body>
<div class="wrapper">

    <!--↓共通headerの呼び出し-->
    <div th:replace="common :: header"></div>
    <div class="container">
        <!--↓記事が無かった時の記載-->
        <p th:text="${empty}"></p>
        <article class="toppostitem" th:each="blogs: ${blogs}">
            <span class="toppostid">@Matsushiro</span>
            <div class="toppostdate">
                <p th:text="${blogs.createdDate}"></p>
            </div>
            <h4 class="topposttittle">
                <p th:text="${blogs.title}"></p>
            </h4>
            <div class="toppostcontents">
                <p th:text="${blogs.text}"></p>
            </div>
            <div class="between df">
                <div class="toppostview">閲覧回数 <span th:text="${blogs.viewCount}"></span></div>
                <div class="toppostbutton"><button><a th:href="@{'/blog/' + ${blogs.id}}">この記事を読む</a></button></div>
            </div>
        </article>
        <!--↑記事が無かった時の記載-->


        <article class="toppostitem" th:each="items: ${items}">
            <span class="toppostid">@Matsushiro</span>
            <!--            <div class="toppostdate"><p th:text="${blogs.createdDate}"></p></div>-->
            <div class="toppostdate">
                <p th:text="${#dates.format(items.createdDate, 'yyyy/MM/dd')}"></p>
            </div>
            <h4 class="topposttittle">
                <p th:text="${items.title}"></p>
            </h4>
            <div class="toppostcontents">
                <p th:text="${items.text}"></p>
            </div>
            <div class="between df">
                <div class="toppostview">閲覧回数 <span th:text="${items.viewCount}"></span></div>
                <div class="toppostbutton"><button><a th:href="@{'/blog/' + ${items.id}}">この記事を読む</a></button></div>
            </div>
        </article>

        <!-- ページングstart -->
        <ul class="paging">
            <li class="frontpg">
                <span th:if="${pages.first}">&lt;&lt;</span>
                <a th:if="${not pages.first}" th:href="@{/search(page=0)}+@{&search=__${title}__}">&lt;&lt;</a>
            </li>
            <li th:each="i:${#numbers.sequence(0, pages.totalPages-1)}">
                <!--            <li th:each="i:${#numbers.sequence(0, pages,totalPages-1)}">-->
                <span th:if="${i}==${pages.number}" th:text="${i+1}"></span>
                <a th:if="${i}!=${pages.number}" th:href="@{/search(page=${i})}+@{&search=__${title}__}">
                    <span th:text="${i+1}"></span>
                </a>
            </li>
            <li class="backpg">
                <span th:if="${pages.last}">&gt;&gt;</span>
                <a th:if="${not pages.last}"
                   th:href="@{/search(page=(${pages.totalPages}-1))}+@{&search=__${title}__}">&gt;&gt;</a>
            </li>
        </ul>
        <!-- ページングend -->
    </div>
</div>
<!--共通headの呼び出し-->
<div th:replace="common :: footer"></div>
</body>

</html>